{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <label for="username" class="label">Username</label>
    <input name="username" id="username" required class="input">
    <label for="password" class="label">Password</label>
    <input type="password" name="password" id="password" required class="input">
    <input type="submit" value="Register" class="button is-primary">
  </form>
{% endblock %}