{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New List{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="field">

      <label for="title" class="label">Title</label>
      <input name="title" id="title" class="input" value="{{ request.form['title'] }}" required>
    </div>
    <label for="body" class="label">Body</label>
    <textarea name="body" class="textarea" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save" class="button is-primary">
  </form>
{% endblock %}