{% extends 'base.html' %}

{% block header %}
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% block title %}Listes{% endblock %}</h1>

<!-- Bloc de bouton new si utilisateur co-->
  {% if g.user %}
    <a class="button is-primary" href="{{ url_for('c_list.create') }}">New</a>
  {% endif %}
<!-- Bloc de bouton new-->

{% endblock %}

<!-- fin du header-->

<div class="tile is-ancestor">
  <!-- All other tile elements -->

  <!-- titre de la liste -->
  {% block content %}
  {% for clist in listes_de_courses %}
  <p class="tilei s-4 is-vertical">
     <div class="tile is-parent is-vertical is-primary">

            <article class="tile is-child notification is-success">
              <div class="content">
                  <a href="{{ url_for('c_list.update', id=clist['id']) }}" class="button is-link">
                  Liste  {{ clist['title'] }}
                  </a>

                  <div class="content">
                      <a href="{{ url_for('c_list.delete', id=clist['id']) }}" class="button is-danger">Delete</a>
                  </div>
                    <!--body a bossser plus tar-->
                   <p class="subtitle"> by {{ clist['username'] }} on {{ clist['created'].strftime('%Y-%m-%d') }}</p>

                   <div class="content">
                         <p class="body">{{ clist['body'] }}</p>
                   </div>
            </article>
</div>

    </div>


</div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


</div>


  <!-- All other tile elements before --> </div>