{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Listes{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('c_list.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for clist in listes_de_courses %}
    <article class="post">
      <header>
        <div>
          <h1>{{ clist['title'] }}</h1>
          <div class="about">by {{ clist['username'] }} on {{ clist['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == clist['author_id'] %}
          <a class="action" href="{{ url_for('c_list.update', id=clist['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ clist['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}